body {
  background: #232323;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

h1 {
  margin: 30px 0 10px 0;
}

#pong {
  background: #111;
  border: 3px solid #fff;
  display: block;
  margin: 0 auto 30px auto;
  box-shadow: 0 4px 30px #000a;
}